<nav class="bg-gray-900 shadow-lg h-16">
    <div class="max-w-7xl mx-auto px-2">
        <div class="relative flex items-center justify-between h-16">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false" onclick="toggleMobileDropdown()">
                    <span class="sr-only">Ouvrir le menu principal</span>
                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>

            <div class="flex-1 flex items-center sm:items-stretch w-full justify-center">
                <div class="block sm:hidden">
                    <img src="/static/logo.png" class="h-12" data-tilt data-tilt-scale="1.1" alt="Logo de Grimtown">
                </div>
                <div class="hidden sm:block">
                    <div class="flex justify-center">
                        <a href="{{ path('index') }}" class="flex items-center text-white px-3 py-2 lg:mx-4 text-sm font-grimtown font-medium transform hover:scale-105 transition-transform ease-in duration-200">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                            </svg>
                            <div class="lg:block hidden">
                                Accueil
                            </div>
                        </a>
                        <a href="{{ path('events') }}" class="flex text-white px-3 py-2 lg:mx-4 text-sm font-grimtown font-medium transform hover:scale-105 transition-transform ease-in duration-200">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
                            </svg>
                            <div class="lg:block hidden">
                                Événements
                            </div>
                        </a>
                        <a class="flex-shrink-0 w-8 mx-16 flex items-center">
                            <a class="absolute w-24" href="{{ path('index') }}">
                                <img src="/static/logo.png" data-tilt data-tilt-scale="1.1" alt="Logo de Grimtown">
                            </a>
                        </a>
                        <a href="#" class="flex text-white px-3 py-2 lg:mx-4 text-sm font-grimtown font-medium transform hover:scale-105 transition-transform ease-in duration-200">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z" />
                            </svg>
                            <div class="lg:block hidden">
                                Actualités
                            </div>
                        </a>
                        <a href="{{ path('shop') }}" class="flex text-white px-3 py-2 lg:mx-4 text-sm font-grimtown font-medium transform hover:scale-105 transition-transform ease-in duration-200">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                            </svg>
                            <div class="lg:block hidden">
                                Boutique
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="absolute right-0 flex items-center pr-2">
                {% if app.user %}
                    <div class="ml-3 relative">
                        <div>
                            <button type="button" class="flex items-center text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true" onclick="toggleUserDropdown()">
                                <span class="sr-only">Ouvrir le menu utilisateur</span>
                                <a class="lg:block hidden flex text-white text-sm font-grimtown font-medium mr-2">
                                    {{ app.user.username }}
                                </a>
                                <img class="h-8 w-8 rounded-full" src="{{ app.user.avatarUrl }}" alt="">
                            </button>
                        </div>
                        <div id="userDropdown" class="hidden origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
                        </div>
                    </div>
                {% else %}
                    <a href="{{ path('login') }}" class="flex text-white text-sm font-grimtown font-medium items-center transform hover:translate-x-1 transition-transform ease-in duration-200">
                        <div class="lg:block hidden">
                            Connexion
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                        </svg>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="hidden bg-gray-900 absolute w-full" id="mobileDropdown">
        <div class="px-2 pt-2 pb-3 space-y-1">
            <a href="{{ path('index') }}" class="flex items-center text-white py-2 mx-4 text-sm font-grimtown font-medium transform hover:scale-105 transition-transform ease-in duration-200">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                </svg>
                Accueil
            </a>
            <a href="#" class="flex text-white py-2 mx-4 text-sm font-grimtown font-medium transform hover:scale-105 transition-transform ease-in duration-200">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
                </svg>
                Événements
            </a>
            <a href="#" class="flex text-white py-2 mx-4 text-sm font-grimtown font-medium transform hover:scale-105 transition-transform ease-in duration-200">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z" />
                </svg>
                Actualités
            </a>
            <a href="{{ path('shop') }}" class="flex text-white py-2 mx-4 text-sm font-grimtown font-medium transform hover:scale-105 transition-transform ease-in duration-200">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                </svg>
                Boutique
            </a>
        </div>
    </div>
</nav>