{% extends 'layout.html.twig' %}

{% block title %}Catégorie {{ items[0].category.name|lower }}{% endblock %}

{% block content %}
    <div class="flex-col md:h-full w-full">
        {% include 'shop/navbar.html.twig' with { requestCategory: items[0].category.id } %}
        <div class="flex container mx-auto py-10 w-full">
            <div class="flex w-full flex-col lg:flex-row">
                <div class="flex max-w-2xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
                    <div class="mt-6 grid grid-cols-2 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                        {% for item in items %}
                        <div class="group relative">
                            <div class="w-auto min-h-80 bg-gray-200 rounded-md overflow-hidden group-hover:opacity-75 lg:aspect-none">
                                <img src="{{ item.images[0] }}" class="w-full h-full object-center object-cover lg:w-full lg:h-full">
                            </div>
                            <div class="mt-4 flex justify-between">
                                <div>
                                    <h3 class="text-sm text-gray-700">
                                        <a href="{{ path('shop_item', { slug: item.slug }) }}">
                                            <span aria-hidden="true" class="absolute inset-0"></span>
                                            {{ item.name }}
                                        </a>
                                    </h3>
                                </div>
                                <p class="text-sm font-medium text-gray-900">{{ item.price }} €</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}