{% extends 'layout.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}
    <div class="flex-col w-full">
        <div class="flex-col bg-no-repeat bg-center bg-cover" style="background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('{{ event.largeBanner == null ? event.banner : event.largeBanner }}'); height: 25rem;">
            <div class="flex h-5/6 w-full items-center justify-center">
                {% if event.largeBanner is null %}
                    <h1 class="text-white text-5xl font-grimtown font-extrabold uppercase" data-tilt data-tilt-scale="1.2">{{ event.title }}</h1>
                {% endif %}
            </div>
            <div class="flex h-1/6 w-full justify-center">
                <div class="flex-col absolute items-center justify-center">
                    <div class="flex items-center justify-center">
                        <div class="flex w-1/2 items-center justify-center">
                            <a href="#introduction" class="flex w-full mx-4 shadow-xl bg-yellow-600 text-white items-center justify-center font-bold py-2 px-4 -translate-y-1/4 rounded transform hover:scale-105 transition-transform ease-in duration-200">
                                Présentation
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 13l-5 5m0 0l-5-5m5 5V6"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="flex w-1/2 items-center justify-center">
                            {% if event.acceptRegistration %}
                            <a href="#registration" class="flex w-full mx-4 shadow-xl bg-green-600 text-white items-center justify-center font-bold py-2 px-4 -translate-y-1/4 rounded transform hover:scale-105 transition-transform ease-in duration-200">
                                Inscription
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 13l-5 5m0 0l-5-5m5 5V6"></path>
                                </svg>
                            </a>
                            {% else %}
                                <div class="flex w-full mx-4 bg-gray-300 text-white items-center justify-center font-bold py-2 px-4 -translate-y-1/4 rounded transform">
                                    Inscription
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 13l-5 5m0 0l-5-5m5 5V6"></path>
                                    </svg>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex h-16 bg-yellow-50 p-3 rounded-lg justify-center items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="text-yellow-400 h-full w-auto" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>
                        <div id="{{ event.id }}.days" class="flex w-14 md:w-16 whitespace-nowrap ml-4 h-full px-2 bg-yellow-400 text-white text-xl font-grimtown rounded-lg justify-center items-center">{{ countdown[0] }}</div>
                        <div class="ml-2 font-grimtown font-medium text-yellow-400">:</div>
                        <div id="{{ event.id }}.hours" class="flex w-14 md:w-16 whitespace-nowrap ml-2 h-full px-2 bg-yellow-400 text-white text-xl font-grimtown rounded-lg justify-center items-center">{{ countdown[1] }}</div>
                        <div class="ml-2 font-grimtown font-medium text-yellow-400">:</div>
                        <div id="{{ event.id }}.minutes" class="flex w-16 md:w-20 whitespace-nowrap ml-2 h-full px-2 bg-yellow-400 text-white text-xl font-grimtown rounded-lg justify-center items-center">{{ countdown[2] }}</div>
                        <div class="ml-2 font-grimtown font-medium text-yellow-400">:</div>
                        <div id="{{ event.id }}.seconds" class="flex w-14 md:w-16 whitespace-nowrap ml-2 h-full px-2 bg-yellow-400 text-white text-xl font-grimtown rounded-lg justify-center items-center">{{ countdown[3] }}</div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-full w-full mt-1" fill="white" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
                </svg>
            </div>
        </div>
        <div id="introduction" class="mt-10 w-2/3 mx-auto py-10">
            <h2 class="text-center font-grimtown text-3xl font-bold text-gray-900 uppercase">Présentation</h2>
            <p class="mt-10 text-gray-900 font-raleway">{{ event.description|raw|nl2br }}</p>
        </div>
        <div class="bg-gray-700">
            <div class="w-2/3 mx-auto py-10">
                <h2 class="text-center font-grimtown text-3xl font-bold text-white uppercase">Histoire</h2>
                <p class="mt-10 text-white font-raleway">{{ event.story|raw|nl2br }}</p>
            </div>
        </div>
        <div id="introduction" class="w-2/3 mx-auto py-10">
            <h2 class="text-center font-grimtown text-3xl font-bold text-gray-900 uppercase">But du jeu</h2>
            <p class="mt-10 text-gray-900 font-raleway">{{ event.goal|raw|nl2br }}</p>
        </div>
        <div class="bg-gray-700">
            <div class="w-2/3 mx-auto py-10">
                <h2 class="text-center font-grimtown text-3xl font-bold text-white uppercase">Règles</h2>
                <p class="mt-10 text-white font-raleway">{{ event.rules|raw|nl2br }}</p>
            </div>
        </div>
        <div id="registration" class="w-2/3 mx-auto py-10">
            <h2 class="text-center font-grimtown text-3xl font-bold text-gray-900 uppercase">Inscription</h2>
            <p class="my-10 text-gray-900 font-raleway">{{ event.registration|raw|nl2br }}</p>
            <div class="flex items-center justify-center">
                {% if event.acceptRegistration %}
                    {% if is_granted('ROLE_USER') %}
                    <form action="{{ path('eventRegister', { slug: event.slug }) }}" method="post">
                        <input type="hidden" name="token" value="{{ csrf_token('register-event-' ~ event.id) }}"/>
                        <div class="flex flex-col max-w-lg">
                            <button type="submit" class="flex shadow-xl bg-green-600 text-white items-center justify-center font-bold py-2 px-4 rounded transform hover:scale-105 transition-transform ease-in duration-200">
                                S'inscrire à cet événement
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                </svg>
                            </button>
                            <div class="font-raleway text-sm py-2">Super, vous êtes prêt à vous inscrire à cet événement. Pour cela, il vous suffit juste de cliquer sur ce bouton !</div>
                        </div>
                    </form>
                    {% else %}
                        <div class="flex flex-col max-w-lg">
                            <a href="{{ path('register') }}" class="flex shadow-xl bg-green-600 text-white items-center justify-center font-bold py-2 px-4 rounded transform hover:scale-105 transition-transform ease-in duration-200">
                                Comment m'inscrire à cet événement ?
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                            </a>
                            <div class="font-raleway text-sm py-2">Afin de pouvoir vous inscrire à cet événement, vous devez préalablement créer votre compte via ce bouton.</div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="flex mx-4 bg-gray-200 text-white items-center justify-center font-bold py-2 px-4 rounded">
                        S'inscrire à cet événement
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    window.countdown.start("{{ event.id }}", "{{ event.startDate|date }}")
{% endblock %}